md-toolbar.docs-toolbar {
    background-color: #E0E0E0;
    color: #616161;
}

html #flex-positive {
    display: none;
}

html.flexbox #flex-positive,
html.flexboxlegacy #flex-positive {
    display: block;
}

html.flexbox #flex-negative,
html.flexboxlegacy #flex-negative {
    display: none;
}
a {
    color: #0000ff;
}

.browserupgrade {
    padding: 5px;
}

.nav-link {
    width: 100%;
    text-align: left;
    text-transform: none;
}

.nav-link.active {
    background-color: rgb(32, 32, 32);
    background-color: rgba(158, 158, 158, 0.2);
}

.doc-code {
    padding: 12px;
    background-color: rgb(32, 32, 32);
    background-color: rgba(158, 158, 158, 0.2);
    display: block;
}

a.doc-type {
    color: #599947;
    text-decoration: none;
}

a.doc-type:hover {
    text-decoration: underline;
}

.doc-content {
    margin: 12px 16px;
}

.doc-def {
    font-size: 1.2em;
}

.doc-def-member {
    margin: 30px 6px 6px 6px;
}

.doc-def-member + .doc-def-member {
    margin-top: 60px;
}

.doc-def-member-details {
    padding: 7px;
}

.doc-def-member-details p {
    margin: 0.4em 0;
}

.doc-subheader {
    margin: 0.5em 0;
}

.annotation {
    font-size: 0.5em;
    opacity: 0.7;
}

.top1 {
    margin-top: 1%;
}
