.pixel-pattern(@pixels...) {
  //https://github.com/seven-phases-max/less.curious/blob/master/src/for.less
  .for(@array)   when (default()) {.for-impl_(length(@array))}
  .for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
  .for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}

  .set-pixel(@row, @col, @color) when (@row = 0) and (@col = 0) {
    background-color: @color;
  }

  .set-pixel(@row, @col, @color) when (default()) {
    .box-shadow(@col * 1em @row * 1em @color);
  }

  .box-shadow(@shadow) {
    -webkit-box-shadow+: @shadow;
    -moz-box-shadow+: @shadow;
    box-shadow+: @shadow;
  }

  & .pixel-pattern-pixel{
    display: block;
    width: 1em;
    height: 1em;

    .for(@pixels); .-each(@pixel) {
      @row: extract(@pixel, 1);
      @col: extract(@pixel, 2);
      @color: extract(@pixel, 3);

      .set-pixel(@row, @col, @color);
    }
  }
}

.pixel-pattern-size(@size){
  font-size: @size;
}
